
.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    background-color: hsl(212, 45%, 89%);
}

body{
    height: 100%;
}

.block {
    display: block;
    width: 320px;
    height: 499px;
    margin: auto;
    background-color: #ffffff;
}

.screen{
    width: 100%;
    height: 100%;
}

.qr_code {
    display: block;
    margin: auto;
    height: 288px;
    width: 288px;
}

.qr_code img {
    height: 100%;
    width: 100%
}